@import "../abstracts/fonts";
@import "../abstracts/colors";
@import "../abstracts/mixin";


// https://bennettfeely.com/clippy/

.table-shape{
    background-color: $Jaune;
    width: 100%;
    .test-clip{
        margin: auto;
    }
}

.table-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 50px;
    overflow-x: auto;
    &.withoutSlogan{
        margin-top: 0px;
    }
    @include responsive-tablet {
        width: 700px;
    }
    @include responsive-desktop {
        width: 1000px;
        overflow: hidden;
    }
}



.table-title {
    padding-left: 10px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
     h2{
        display: inline;
        font-family: Inter, sans serif;
        font-weight: 900;
        font-size: 30px;
        color:$Noir;
        padding: 20px 10px;
        position:relative;
        z-index:1;
        &::before{
            height: 20px;
            width: 100%;
            content:"";
            display:inline-block;
            background-color: $Jaune;
            position: absolute;
            z-index:-1;
            left: 60px ;
            top : calc(100% - 37px);
            @include responsive-desktop {
                left: 200px ;
                top : calc(100% - 60px);
            }
        }
        @include responsive-desktop {
            font-size: 60px;
            padding: 30px 20px;
        }
    }
}



.table{
    // margin: 20px 15px;
    width: 100%;
    tr:nth-child(odd){
        background-color: $Gris;
    }
    td{
        padding: 5px;
        text-align: left;
        vertical-align: middle;
        font-size: 14px;
        @include responsive-desktop{
            font-size: 20px;
        }
    }
}

thead th{
    background-color: $Jaune;
    padding: 5px;
    text-align: justify;
    font-size: 16px;
    vertical-align: middle;
    & a{
        text-decoration: none;
        color : $Noir;
        
    }
    @include responsive-desktop{
        font-size: 20px;
    }
}
tr>th:first-child,tr>td:first-child {
    position: sticky;
    left: 0;

  }

  
tr:nth-child(odd) td {
    background: $Gris;
 }
 
 tr:nth-child(even) td {
    background: $Blanc;
 }