@import '../abstracts/colors';

html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: $Noir;
    // width: 100vh;
    background-color:$Blanc;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100%;
    line-height: 3em;
    margin: -200px;
    width: auto;
}