@import '../abstracts/colors';

html,body{
    font-family: 'Roboto', sans-serif;
    color: $Noir;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100%;
    line-height: 3em;
    // margin: -200px;
    width: auto;
}