@import '../abstracts/colors';
@import "../abstracts/mixin";

html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: $Noir;
    background-color:$Blanc;
    // background-color: pink;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    // width: auto;
}