@import "../abstracts/colors";
@import "../abstracts/mixin";
@import "../abstracts/fonts";



footer{
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  // justify-content: center;
  align-items: center;
  font-family: 'Assistant',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $GrisBruno;
  margin-bottom: 50px;
  @include responsive-desktop{
    margin-top: 100px;
    padding: 0px 200px;
  }
}

#footer-contact{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  border-top: 2px solid $Jaune ;
  border-bottom: 2px solid $GrisMoyen ;
  width: 100%;
  display: flex;
  padding: 30px 20px;
  margin-bottom: 10px;
  @include responsive-desktop{
    flex-direction: row;
    height: 350px;
  }
}

#footer-logo h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: $GrisLogoFooter;
  border: 5px $Jaune solid ;
  padding: 5px;
  margin-bottom: 20px;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-contact-tel,
#footer-contact-fax,
#footer-social-media,
#footer-navbar ul {
  display: flex;
  // justify-content:center;
  align-items: center;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-social-media{
  margin-bottom: 10px;
  justify-content: space-between;
}

#footer-navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @include responsive-desktop {
    justify-content: space-between;
    flex-direction: row;
  }
}
  #footer-navbar {
    @include responsive-desktop {
      justify-self: flex-start;
    }
  }

  // #footer-text-gris-container {
  //   @include responsive-desktop {
  //     justify-self: flex-end;
  //   }
  // }

#footer-navbar  a{
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 5px;
  color: $GrisBruno;
  width: 100%;
    @include responsive-desktop{
      font-size: 18px;
      margin-right: 20px;
    } 
}

#footer-contact-infos{
  justify-content: stretch;
}

#footer-social-media{
  display: inline-block;
  & p{
    text-align: center;
    margin-bottom: 10px;
  }
}

.footer-text-gris{
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 14px;
  // color: $GrisFonce;
  // margin-top: 10px;
  @include responsive-desktop{
    font-size: 18px;
    align-self: flex-end;
  }
}

svg{
  margin-right: 10px;
}