@import "../abstracts/colors";
@import "../abstracts/mixin";
@import "../abstracts/fonts";

footer{
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  // justify-content: center;
  align-items: center;
  font-family: 'Assistant',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $Noir;
}

#footer-contact{
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-top: 2px solid $Jaune ;
  border-bottom: 2px solid $GrisMoyen ;
  width: 100%;
  display: flex;
  padding: 50px 20px;
}

#footer-logo h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: $GrisLogoFooter;
  border: 5px $Jaune solid ;
  padding: 5px;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-contact-tel,
#footer-contact-fax,
#footer-social-media,
#footer-navbar,
#footer-navbar ul {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-social-media{
  margin-bottom: 10px;
}

#footer-navbar ul li a{
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $Noir;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-text-gris{
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $GrisFonce;
}