@import "../abstracts/colors";
@import "../abstracts/fonts";
@import "../abstracts/mixin";

#navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	// width: auto;
	overflow:hidden;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: $Jaune;
	height: 80px;
	z-index: 3;
	@include responsive-desktop{
		height: 150px;
	}
}

#navbar-title{
	h2{
		font-family: 'Roboto', sans-serif;
		font-weight: 900;
		font-size: 48px;
		margin: 15px;
		text-transform: uppercase;
	}
}

//burger menu
#navbar-burger {
	cursor: pointer;
	height: 27px;
	width: 27px;
	margin: 20px 20px;
	overflow: hidden;
	z-index: 2;
	@include responsive-desktop{
		display: none;
	}

	// THE LINES
	span,
	span:before,
	span:after {
		background: black;
		display: block;
		height: 3px;
		opacity: 1;
		position: relative;
		transition: 0.3s ease-in-out;
	}

	span:before,
	span:after {
		content: '';
	}

	// TOP
	span:before {
		left: 0px;
		top: -10px;
		width: 27px;
	}

	// MIDDLE
	span {
		right: 0px;
		top: 13px;
		width: 27px;
	}

	// BOTTOM
	span:after {
		left: 0px;
		top: 7px;
		width: 27px;
	}

	// ROTATION ON CLICK
	&.close {
		// TOP
		span:before {
			background: $Jaune;
			top: 0px;
			transform: rotate(90deg);
			width: 27px;
		}

		// MIDDLE
		span {
			background: $Jaune;
			transform: rotate(-45deg);
			top: 13px;
			width: 27px;
		}

		// BOTTOM
		span:after {
			background: $Jaune;
			top: 0px;
			left: 0;
			transform: rotate(90deg);
			opacity: 0;
			width: 0;
		}
	}
}

#navbar-menu {
	z-index: 1;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	visibility: hidden;
	opacity: 0;
	text-align: center;
	padding-top: 20px;
	transition: all 0.3s ease-in-out;

	@include responsive-desktop{
		display: flex;
		justify-content:flex-end;
		align-items: center;
		visibility: visible;
		z-index: 0;
		opacity: 100;
		transition: none;
		color:$Noir;
		min-width:100%;
		// min-height:80px;
		height: 80px;
		padding-top: 0px;

	}

	&.overlay {
		visibility: visible;
		opacity: 1;
		padding-top: 100px;
		background: rgba(0, 0, 0, 0.95);
		min-height: 100%;
	}

	ul {
		padding: 0;
		list-style: none;
		@include responsive-desktop{
			display: flex;
			justify-content:space-between;
		}
	}

	li{
		@include responsive-desktop{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
		}
	}

	a {
		color: $Jaune;
		display: block;
		font-size: 57px;
		font-weight: 900;
		margin-bottom: 30px;
		text-decoration: none;
		@include responsive-desktop{
			color: $Noir;
			font-size: 20px;
			font-weight: 600;
			margin : 30px 20px 30px 20px;
			&:hover{
				border: 2px solid $Noir;
				// margin: -2px;
				padding: 5px;
			}
			&.signup-button{
				background-color: $Blanc;
				border-radius: 5px;
				padding: 5px 10px;
				border: none;
				margin: auto;
			}
		}
	}
}