@import "../abstracts/colors";
@import "../abstracts/fonts";



#navbar-title{
	h2{
		font-family: 'Inter', sans-serif;
		font-weight: 900;
		font-size: 48px;
		margin: 15px;
	}
}

#navbar-container{
	background-color: $Jaune;
}

#navbar{
	display: flex;
	justify-content: space-between;
	height: 100px;
}

//burger menu
#navbar-burger {
	cursor: pointer;
	height: 27px;
	width: 27px;
	margin: 20px 20px 0px 0px;
	overflow: visible;
	z-index: 2;

	// THE LINES
	span,
	span:before,
	span:after {
		background: black;
		display: block;
		height: 3px;
		opacity: 1;
		position: relative;
		transition: 0.3s ease-in-out;
	}

	span:before,
	span:after {
		content: '';
	}

	// TOP
	span:before {
		left: 0px;
		top: -10px;
		width: 27px;
	}

	// MIDDLE
	span {
		right: 0px;
		top: 13px;
		width: 27px;
	}

	// BOTTOM
	span:after {
		left: 0px;
		top: 7px;
		width: 27px;
	}

	// ROTATION ON CLICK
	&.close {
		// TOP
		span:before {
			background: $Jaune;
			top: 0px;
			transform: rotate(90deg);
			width: 27px;
		}

		// MIDDLE
		span {
			background: $Jaune;
			transform: rotate(-45deg);
			top: 13px;
			width: 27px;
		}

		// BOTTOM
		span:after {
			background: $Jaune;
			top: 0px;
			left: 0;
			transform: rotate(90deg);
			opacity: 0;
			width: 0;
		}
	}
}

#navbar-menu {
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	text-align: center;
	padding-top: 20px;
	transition: all 0.3s ease-in-out;

	&.overlay {
		visibility: visible;
		opacity: 1;
		padding-top: 100px;
		background: rgba(0, 0, 0, 0.95);
	}

	ul {
		padding: 0;
		list-style: none;
	}

	a {
		color: $Jaune;
		display: block;
		font-size: 57px;
		font-weight: 900;
		margin-bottom: 30px;
		text-decoration: none;
	}
}