@import "../abstracts/colors";
@import "../abstracts/fonts";
@import "../abstracts/mixin";



.dash-sidebar{
    background-color: $Blanc;
    position: fixed;
    top: 0;
    left: 0;
    width:20%;
    height: 100%;
    padding: 20px 0;
    @include responsive-desktop{
        width: 10%;
    }
}

.dash-sidebar__user_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-bottom:1px solid $GrisFonce ;
    @include responsive-desktop{
        padding-bottom: 40px;  
    }
  
    img{
        width: 50px;
        margin-bottom: 20px;
        @include responsive-desktop{
         width: 100px;   
        }
    }
    h3{
        font-family: 'Roboto',sans-serif;
        font-weight: 900;
        font-size: 14px;
        text-align: center;
        @include responsive-desktop{
         font-size: 25px;   
        }
    }
}

.dash-sidebar__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    // height: 100vh;
    & ul{
        display: flex;
        flex-direction: column;
    }
    & li{
        margin-bottom: 20px;
    }
    & a{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: $Noir;
        text-align: left;
        text-decoration: none;
        line-height: 24.2px;
        }
    & span{
        display: none;
        @include responsive-desktop{
            display: contents;
        }
    }
    &img{
        height: 40px;
    }
}
.dash-sidebar__log{
    display: flex;
    flex-direction: column;
    border-top: 1px solid $GrisFonce ;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    @include responsive-desktop{
        display: flex;
        flex-direction: row;
    }
    & img {
        width: 48px;
    }
    & a {
        text-decoration: none;
        font-family: 'Inter',sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
}