@import "../abstracts/colors";
@import "../abstracts/fonts";
@import "../abstracts/mixin";

.dash-sidebar{
    display: flex;
    flex-direction: column;
    // width: 285px;
    background-color: lightgrey;
    color: $Noir;
}

.dash-sidebar__user_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-bottom:1px solid $GrisFonce ;
    img{
        width: 105px;
        margin-bottom: 20px;
    }
    h3{
        font-family: 'Roboto',sans-serif;
        font-weight: 900;
        font-size: 25px;
        text-align: center;
    }
}

.dash-sidebar__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height: 800px;
    & p{
        margin-bottom: 20px;
    }
    & a{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: $Noir;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 24.2px;
        }
}
.dash-sidebar__log{
    display: flex;
    border-top: 1px solid $GrisFonce ;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    & img {
        width: 48px;
    }
}