@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #000;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 3em;
}

#navbar-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin: 15px;
}

#navbar-container {
  background-color: #F9DE4E;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

#navbar-burger {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 20px 20px 0px 0px;
  overflow: visible;
  z-index: 2;
}
#navbar-burger span,
#navbar-burger span:before,
#navbar-burger span:after {
  background: black;
  display: block;
  height: 3px;
  opacity: 1;
  position: relative;
  transition: 0.3s ease-in-out;
}
#navbar-burger span:before,
#navbar-burger span:after {
  content: "";
}
#navbar-burger span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#navbar-burger span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#navbar-burger span:after {
  left: 0px;
  top: 7px;
  width: 27px;
}
#navbar-burger.close span:before {
  background: #F9DE4E;
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#navbar-burger.close span {
  background: #F9DE4E;
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#navbar-burger.close span:after {
  background: #F9DE4E;
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#navbar-menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#navbar-menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.95);
}
#navbar-menu ul {
  padding: 0;
  list-style: none;
}
#navbar-menu a {
  color: #F9DE4E;
  display: block;
  font-size: 57px;
  font-weight: 900;
  margin-bottom: 30px;
  text-decoration: none;
}

#slogan-container {
  background-color: #F9DE4E;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  height: 100vh;
}

#slogan-text p {
  font-family: Inter, sans-serif;
  font-size: 65px;
  margin: 20px auto 0px 15px;
  text-justify: left;
}

#slogan-img img {
  height: 400px;
}

.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  height: 128px;
  width: 460px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 183px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.footer h4 {
  width: 165px;
  height: 63px;
  outline: 5px solid #F9DE4E;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 63px;
}
.footer_top_line {
  border: 2px solid #F9DE4E;
}
.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0px;
  gap: 60px;
}
.footer_name {
  width: 50%;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_contact_number {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.footer_contact_div_logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_contact_social_media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
}
.footer_contact_social_media svg {
  margin: 0px 5px;
  align-items: center;
}
.footer_contact_social_media_logo {
  display: flex;
  border-spacing: 25px;
}
.footer_down_line {
  margin-bottom: 24px;
  border: 1px solid rgba(123, 185, 252, 0.1254901961);
}
.footer_nav-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
.footer_nav-footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
}
.footer_nav-footer ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.footer_nav-footer ul li:hover {
  outline: 2px solid rgba(0, 0, 0, 0.4);
  outline-offset: 5px;
}
#invoices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#invoices-title h2 {
  font-family: Inter, sans serif;
  font-weight: 900;
  font-size: 60px;
  color: #000;
}

#invoices-table {
  margin: 20px 15px;
  width: 100%;
}
#invoices-table tr:nth-child(odd) {
  background-color: #F5F5F5;
}
#invoices-table td {
  padding: 5px;
}

#invoices-table-head {
  background-color: #F9DE4E;
}/*# sourceMappingURL=style.css.map */