@import "./scss/header.scss";

html,body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
	color: $Noir;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 3em;
}
