@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #000;
  background-color: #FFF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3em;
}

.dash_main, header {
  background-color: #E7E7E7;
  margin-left: 20%;
}

header {
  font-family: "Inter", sans-serif;
  padding: 20px;
}
header h2 {
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 10px;
}
header span {
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 20px;
}
header .dash-welcome {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 35px;
  color: #FFF;
  background-color: #9698D6;
  border-radius: 10px;
  padding: 10px 20px;
}
header .dash-welcome p {
  font-weight: 300;
  font-size: 15px;
}
header img {
  width: 150px;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

.breadcrumb {
  margin-bottom: 20px;
}

.dash-welcome {
  padding: 20px 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
  margin: 20px auto;
}
.stats .stats__informations {
  display: flex;
  font-size: 12px;
  line-height: none;
}
.stats .stats__informations ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: #FFF;
}

.stats__informations--invoices {
  background-color: #4D4CAC;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.stats__informations--contacts {
  background-color: #9698D6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.stats__informations--companies {
  background-color: #FF808B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.table-container-dashboard {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 50px;
  overflow-x: auto;
  background-color: #FFF;
}
.table-container-dashboard.withoutSlogan {
  margin-top: 0px;
}
@media screen and (min-width: 780px) and (max-width: 1080px) {
  .table-container-dashboard {
    width: 700px;
  }
}
@media screen and (min-width: 1080px) {
  .table-container-dashboard {
    width: 1000px;
    overflow: hidden;
  }
}
.table-container-dashboard.table-title {
  border-bottom: 2px solid #E0E0E0;
  background-color: #FFF;
}
.table-container-dashboard table, .table-container-dashboard th, .table-container-dashboard tr {
  background-color: #FFF;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #F9DE4E;
  height: 80px;
  z-index: 3;
}
@media screen and (min-width: 1080px) {
  #navbar {
    height: 150px;
  }
}

#navbar-title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin: 15px;
  text-transform: uppercase;
}

#navbar-burger {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 20px 20px;
  overflow: hidden;
  z-index: 2;
}
@media screen and (min-width: 1080px) {
  #navbar-burger {
    display: none;
  }
}
#navbar-burger span,
#navbar-burger span:before,
#navbar-burger span:after {
  background: black;
  display: block;
  height: 3px;
  opacity: 1;
  position: relative;
  transition: 0.3s ease-in-out;
}
#navbar-burger span:before,
#navbar-burger span:after {
  content: "";
}
#navbar-burger span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#navbar-burger span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#navbar-burger span:after {
  left: 0px;
  top: 7px;
  width: 27px;
}
#navbar-burger.close span:before {
  background: #F9DE4E;
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#navbar-burger.close span {
  background: #F9DE4E;
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#navbar-burger.close span:after {
  background: #F9DE4E;
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#navbar-menu {
  z-index: 1;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1080px) {
  #navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: visible;
    z-index: 0;
    opacity: 100;
    transition: none;
    color: #000;
    min-width: 100%;
    height: 80px;
    padding-top: 0px;
  }
}
#navbar-menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.95);
  min-height: 100%;
}
#navbar-menu ul {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1080px) {
  #navbar-menu ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1080px) {
  #navbar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
#navbar-menu a {
  color: #F9DE4E;
  display: block;
  font-size: 57px;
  font-weight: 900;
  margin-bottom: 30px;
  text-decoration: none;
}
@media screen and (min-width: 1080px) {
  #navbar-menu a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 20px 30px 20px;
  }
  #navbar-menu a:hover {
    border: 2px solid #000;
    padding: 5px;
  }
  #navbar-menu a.signup-button {
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin: auto;
  }
}

#slogan-container {
  background-color: #F9DE4E;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
}
@media screen and (min-width: 1080px) {
  #slogan-container {
    height: 600px;
  }
}

@media screen and (min-width: 1080px) {
  #slogan-container-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#slogan-text-container {
  padding-left: 20px;
}
#slogan-text-container p {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  line-height: 45px;
}
@media screen and (min-width: 1080px) {
  #slogan-text-container p {
    font-size: 65px;
    line-height: 78.66px;
  }
}

#slogan-img-container {
  display: flex;
  justify-content: center;
}
#slogan-img-container img {
  width: 350px;
}
@media screen and (min-width: 780px) and (max-width: 1080px) {
  #slogan-img-container img {
    width: 450px;
  }
}
@media screen and (min-width: 1080px) {
  #slogan-img-container img {
    width: 700px;
  }
}

.test-clip {
  background-color: #FFF;
  width: 350px;
  height: 50px;
  clip-path: polygon(57% 60%, 86% 36%, 100% 100%, 100% 100%, 0 100%, 0 62%);
}
@media screen and (min-width: 780px) and (max-width: 1080px) {
  .test-clip {
    height: 100px;
    width: 700px;
    clip-path: polygon(57% 60%, 86% 36%, 100% 100%, 100% 100%, 0 100%, 0 62%);
  }
}
@media screen and (min-width: 1080px) {
  .test-clip {
    width: 1000px;
    clip-path: polygon(57% 43%, 85% 0, 100% 100%, 100% 100%, 0 100%, 0 46%);
  }
}

#slogan-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1080px) {
  #slogan-bottom-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1080px) {
  #slogan-bottom-text {
    padding-left: 20px;
    width: 600px;
  }
}
#slogan-bottom-text p {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
}
@media screen and (min-width: 1080px) {
  #slogan-bottom-text p {
    font-size: 65px;
    line-height: 78.66px;
    text-align: left;
  }
}

#slogan-bottom-img {
  margin-top: 20px;
}
#slogan-bottom-img img {
  top: 0;
  left: 0;
  width: 200px;
  object-fit: cover;
}
@media screen and (min-width: 1080px) {
  #slogan-bottom-img img {
    width: 500px;
  }
}
#slogan-bottom-img img:first-child {
  position: relative;
  z-index: 2;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  align-items: center;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  margin-bottom: 50px;
}
@media screen and (min-width: 1080px) {
  footer {
    margin-top: 100px;
    padding: 0px 200px;
  }
}

#footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #F9DE4E;
  border-bottom: 2px solid #DFE3E8;
  width: 100%;
  display: flex;
  padding: 30px 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1080px) {
  #footer-contact {
    flex-direction: row;
    height: 350px;
  }
}

#footer-logo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #434138;
  border: 5px #F9DE4E solid;
  padding: 5px;
  margin-bottom: 20px;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-contact-tel,
#footer-contact-fax,
#footer-social-media,
#footer-navbar ul {
  display: flex;
  align-items: center;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-social-media {
  margin-bottom: 10px;
  justify-content: space-between;
}

#footer-navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1080px) {
  #footer-navbar-container {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media screen and (min-width: 1080px) {
  #footer-navbar {
    justify-self: flex-start;
  }
}

@media screen and (min-width: 1080px) {
  #footer-text-gris-container {
    justify-self: flex-end;
  }
}

#footer-navbar a {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 5px;
  color: #737373;
  width: 100%;
}
@media screen and (min-width: 1080px) {
  #footer-navbar a {
    font-size: 18px;
    margin-right: 20px;
  }
}

#footer-contact-infos {
  justify-content: stretch;
}

#footer-social-media {
  display: inline-block;
}
#footer-social-media p {
  text-align: center;
  margin-bottom: 10px;
}

.footer-text-gris {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}
@media screen and (min-width: 1080px) {
  .footer-text-gris {
    font-size: 18px;
    align-self: flex-end;
  }
}

svg {
  margin-right: 10px;
}

.dash-sidebar {
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 20px 0;
}

.dash-sidebar__user_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-bottom: 1px solid #919EAB;
}
.dash-sidebar__user_card img {
  width: 50px;
  margin-bottom: 20px;
}
.dash-sidebar__user_card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
}

.dash-sidebar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.dash-sidebar__nav ul {
  display: flex;
  flex-direction: column;
}
.dash-sidebar__nav li {
  margin-bottom: 20px;
}
.dash-sidebar__nav a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24.2px;
}
.dash-sidebar__nav span {
  display: none;
}
.dash-sidebar__navimg {
  height: 40px;
}

.dash-sidebar__log {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #919EAB;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}
.dash-sidebar__log img {
  width: 48px;
}

.table-shape {
  background-color: #F9DE4E;
  width: 100%;
}
.table-shape .test-clip {
  margin: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 50px;
  overflow-x: auto;
}
.table-container.withoutSlogan {
  margin-top: 0px;
}
@media screen and (min-width: 780px) and (max-width: 1080px) {
  .table-container {
    width: 700px;
  }
}
@media screen and (min-width: 1080px) {
  .table-container {
    width: 1000px;
    overflow: hidden;
  }
}

.table-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.table-title h2 {
  font-family: Inter, sans serif;
  font-weight: 900;
  font-size: 30px;
  color: #000;
  width: 100%;
  padding: 20px 10px;
}
@media screen and (min-width: 1080px) {
  .table-title h2 {
    font-size: 60px;
    padding: 30px 20px;
  }
}

.table {
  width: 100%;
}
.table tr:nth-child(odd) {
  background-color: #F5F5F5;
}
.table td {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}
@media screen and (min-width: 1080px) {
  .table td {
    font-size: 20px;
  }
}

thead th {
  background-color: #F9DE4E;
  padding: 5px;
  text-align: justify;
  font-size: 16px;
  vertical-align: middle;
}
thead th a {
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 1080px) {
  thead th {
    font-size: 20px;
  }
}

tr > th:first-child, tr > td:first-child {
  position: sticky;
  left: 0;
}

tr:nth-child(odd) td {
  background: #F5F5F5;
}

tr:nth-child(even) td {
  background: #FFF;
}

#png-one {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#png-one img {
  height: 75px;
}
@media screen and (min-width: 1080px) {
  #png-one img {
    height: 150px;
  }
}

#png-two {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
#png-two img {
  height: 100px;
}
@media screen and (min-width: 1080px) {
  #png-two img {
    height: 200px;
  }
}

.crud-password {
  position: absolute;
  left: -999999px;
}

.pagination {
  display: inline-block;
  margin: 10px auto;
}
.pagination a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 8px 12px;
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px #DFE3E8 solid;
}
.pagination a.coin {
  color: #F9DE4E;
}
.pagination a:hover {
  background-color: #919EAB;
  color: #F9DE4E;
  border: #FFF;
}
.pagination a:active {
  background-color: #F9DE4E;
  border: 1px #F9DE4E solid;
}

form {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

#submit_input {
  border: none;
  outline: none;
  padding: 10px 15px 10px 5px;
  border: solid 1px #000;
  border-radius: 5px;
  margin: 10px 0px 30px;
}
#submit_input::placeholder {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

#submit_btn {
  display: none;
}/*# sourceMappingURL=style.css.map */