@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #000;
  background-color: #FFF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3em;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #F9DE4E;
  height: 80px;
  z-index: 1;
}
@media screen and (min-width: 1080px) {
  #navbar {
    height: 150px;
  }
}

#navbar-title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  margin: 15px;
  text-transform: uppercase;
}

#navbar-burger {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 20px 20px;
  overflow: hidden;
  z-index: 2;
}
@media screen and (min-width: 1080px) {
  #navbar-burger {
    display: none;
  }
}
#navbar-burger span,
#navbar-burger span:before,
#navbar-burger span:after {
  background: black;
  display: block;
  height: 3px;
  opacity: 1;
  position: relative;
  transition: 0.3s ease-in-out;
}
#navbar-burger span:before,
#navbar-burger span:after {
  content: "";
}
#navbar-burger span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#navbar-burger span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#navbar-burger span:after {
  left: 0px;
  top: 7px;
  width: 27px;
}
#navbar-burger.close span:before {
  background: #F9DE4E;
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#navbar-burger.close span {
  background: #F9DE4E;
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#navbar-burger.close span:after {
  background: #F9DE4E;
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#navbar-menu {
  z-index: 1;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1080px) {
  #navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    visibility: visible;
    z-index: 0;
    opacity: 100;
    transition: none;
    color: #000;
    min-width: 100%;
    height: 80px;
    padding-top: 0px;
  }
}
#navbar-menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.95);
  min-height: 100%;
}
#navbar-menu ul {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 1080px) {
  #navbar-menu ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1080px) {
  #navbar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
#navbar-menu a {
  color: #F9DE4E;
  display: block;
  font-size: 57px;
  font-weight: 900;
  margin-bottom: 30px;
  text-decoration: none;
}
@media screen and (min-width: 1080px) {
  #navbar-menu a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 20px 30px 20px;
  }
  #navbar-menu a:hover {
    border: 2px solid #000;
    padding: 5px;
  }
  #navbar-menu a.signup-button {
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    margin: auto;
  }
}

.test-clip {
  background-color: #FFF;
  width: 375px;
  height: 50px;
  margin-bottom: 0px;
  clip-path: polygon(57% 60%, 86% 36%, 100% 100%, 100% 100%, 0 100%, 0 62%);
}
@media screen and (min-width: 780px) and (max-width: 1080px) {
  .test-clip {
    height: 100px;
    width: 700px;
    clip-path: polygon(57% 60%, 86% 36%, 100% 100%, 100% 100%, 0 100%, 0 62%);
  }
}
@media screen and (min-width: 1080px) {
  .test-clip {
    width: 1300px;
    clip-path: polygon(57% 43%, 85% 0, 100% 100%, 100% 100%, 0 100%, 0 46%);
  }
}

#slogan-container {
  background-color: #F9DE4E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slogan-container-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1080px) {
  #slogan-container-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#slogan-text p {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  line-height: 45px;
}
@media screen and (min-width: 1080px) {
  #slogan-text p {
    font-size: 65px;
    line-height: 78.66px;
    margin-left: 50px;
  }
}

img {
  height: 400px;
}
@media screen and (min-width: 1080px) {
  img {
    height: 600px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  align-items: center;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

#footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #F9DE4E;
  border-bottom: 2px solid #DFE3E8;
  width: 100%;
  display: flex;
  padding: 50px 20px;
}

#footer-logo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #434138;
  border: 5px #F9DE4E solid;
  padding: 5px;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-contact-tel,
#footer-contact-fax,
#footer-social-media,
#footer-navbar,
#footer-navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#footer-contact-street,
#footer-contact-tel-fax,
#footer-social-media {
  margin-bottom: 10px;
}

#footer-navbar ul li a {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-text-gris {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #919EAB;
}

.table-shape {
  background-color: #F9DE4E;
  width: 100%;
}
.table-shape .test-clip {
  margin: auto;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin-bottom: 50px;
  overflow-x: auto;
}
.table-container.withoutSlogan {
  margin-top: 0px;
}
@media screen and (min-width: 780px) and (max-width: 1080px) {
  .table-container {
    width: 700px;
  }
}
@media screen and (min-width: 1080px) {
  .table-container {
    width: 1000px;
    overflow: hidden;
  }
}

.table-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table-title h2 {
  font-family: Inter, sans serif;
  font-weight: 900;
  font-size: 30px;
  color: #000;
  background-color: #FFF;
  width: 100%;
  padding: 20px 10px;
}
@media screen and (min-width: 1080px) {
  .table-title h2 {
    font-size: 60px;
    padding: 30px 20px;
  }
}

.table {
  width: 100%;
}
.table tr:nth-child(odd) {
  background-color: #F5F5F5;
}
.table td {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
}
@media screen and (min-width: 1080px) {
  .table td {
    font-size: 20px;
  }
}

thead th {
  background-color: #F9DE4E;
  padding: 5px;
  text-align: justify;
  font-size: 16px;
  vertical-align: middle;
}
@media screen and (min-width: 1080px) {
  thead th {
    font-size: 20px;
  }
}

tr > th:first-child, tr > td:first-child {
  position: sticky;
  left: 0;
}

tr:nth-child(odd) td {
  background: #F5F5F5;
}

tr:nth-child(even) td {
  background: #FFF;
}

.pagination {
  display: inline-block;
  margin: 10px auto;
}
.pagination a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  padding: 8px 12px;
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1px #DFE3E8 solid;
}
.pagination a.coin {
  color: #F9DE4E;
}
.pagination a:hover {
  background-color: #919EAB;
  color: #F9DE4E;
  border: #FFF;
}
.pagination a:active {
  background-color: #F9DE4E;
  border: 1px #F9DE4E solid;
}

form {
  display: flex;
  justify-content: flex-end;
}

#submit_input {
  border: none;
  outline: none;
  padding: 10px 15px 10px 5px;
  border: solid 1px #000;
  border-radius: 5px;
  margin: 10px 0px 30px;
}
#submit_input::placeholder {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

#submit_btn {
  display: none;
}/*# sourceMappingURL=style.css.map */