@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Roboto:wght@500&display=swap");
#navbar-title {
  padding: 10px;
}
#navbar-title h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 48px;
}

#navbar-container {
  background-color: #F9DE4E;
  height: 500px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

#navbar-burger {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 20px 20px 0px 0px;
  overflow: visible;
  z-index: 2;
}
#navbar-burger span,
#navbar-burger span:before,
#navbar-burger span:after {
  background: black;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#navbar-burger span:before,
#navbar-burger span:after {
  content: "";
}
#navbar-burger span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#navbar-burger span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#navbar-burger span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#navbar-burger.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#navbar-burger.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#navbar-burger.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#navbar-menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#navbar-menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
}
#navbar-menu ul {
  padding: 0;
}
#navbar-menu li {
  list-style: none;
}
#navbar-menu a {
  color: orange;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  height: 128px;
  width: 460px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 183px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.footer h4 {
  width: 165px;
  height: 63px;
  outline: 5px solid #F9DE4E;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 63px;
}
.footer_top_line {
  border: 2px solid #F9DE4E;
}
.footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0px;
  gap: 60px;
}
.footer_name {
  width: 50%;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_contact_number {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.footer_contact_div_logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer_contact_social_media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 10px;
}
.footer_contact_social_media svg {
  margin: 0px 5px;
  align-items: center;
}
.footer_contact_social_media_logo {
  display: flex;
  border-spacing: 25px;
}
.footer_down_line {
  margin-bottom: 24px;
  border: 1px solid rgba(123, 185, 252, 0.1254901961);
}
.footer_nav-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}
.footer_nav-footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
}
.footer_nav-footer ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.footer_nav-footer ul li:hover {
  outline: 2px solid rgba(0, 0, 0, 0.4);
  outline-offset: 5px;
}
html, body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #000;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 3em;
}/*# sourceMappingURL=style.css.map */