@import "../abstracts/colors";
@import "../abstracts/fonts";
@import "../abstracts/mixin";

.company-details-container{
    font-family: 'Inter',sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: $Noir;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    h2{
        display: inline;
        font-size: 30px;
        padding: 20px 10px;
        position:relative;
        z-index:1;
        &::before{
            height: 20px;
            width: 80%;
            content:"";
            display:inline-block;
            background-color: $Jaune;
            position: absolute;
            z-index:-1;
            left: 60px ;
            top : calc(100% - 37px);
            @include responsive-desktop {
                left: 200px ;
                top : calc(100% - 60px);
            }
        }
        @include responsive-desktop {
            font-size: 60px;
            padding: 30px 20px;
        }
    }
    p{
        font-family: 'Roboto',sans-serif;
        font-weight: 600;
        font-size: 18px;
        & span{
            font-weight: 900;
        }
    }
    img{
        width: 75px;
        margin-top: 20px;
    }
}

.main{
    height: 366px;
}
.contacts{
    margin-bottom: 50px;
    justify-content: space-between;
    & .contact-infos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $Gris;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    & .contact-title{
        margin-bottom: 50px;
    }
}
